.display{
 background-color: #4f5562;
 height: 60%;
 padding: 1rem;
 display: flex;
 flex-direction: column;
}

.header {
 background-color:rgb(174, 172, 172);
 height: 3rem;
 padding: .75rem;
 padding-bottom: 2.5rem;
 font-size: 1.25rem;
 border-radius: 8px;
}

.messages {
  /* display: flex;
 flex-direction: column;
 justify-content: start;
 background-color: #fff; */

  height: 100%; 
 padding: 2rem;
 width: 100%;
 height: 100%;
 border-radius: 8px;
 display: flex;
 flex-direction:column-reverse;
 justify-content: flex-start;
 align-items: start;
 margin-top: auto;
}

.message {
 display: inline-block;
 /* min-width: 2rem;
 max-width: 4rem; */
 padding: 0.35rem 0.75rem;
 margin-bottom: 1rem;
 border-radius: 12px;
 background-color: rgb(161, 143, 143);
 color: rgb(255, 254, 254);
 font-size: 1.5rem;
}

.recived {
 display: inline-block;
 /* min-width: 2rem;
 max-width: 4rem; */
 padding: 0.35rem 0.75rem;
 margin-bottom: 1rem;
 border-radius: 12px;
 background-color: rgb(76, 108, 169);
 color: white;
 font-size: 1.5rem;
 align-self: end;
}

@media (min-width: 768px) {
 .display {
  width: 80%;
  height: 65%;
  background-color: #39394b;
  margin: 1rem auto;
  margin-top: 3rem;
  padding: 0 0 1.5rem 0;
  border-radius: 18px;
  overflow: hidden;
 }
 
 .header {
  width: 100%;
  height: 4rem;
  background-color:rgb(174, 172, 172);
  padding: 1rem;
  font-size: 1.25rem;
 }
}

