.container {
  width: 40%;
  height: 25rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: white;
  border-radius: 12px;
}

.inner-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inner-container input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
}

.error-input {
  background-color: rgba(180, 58, 58, 0.4);
}

.inner-container h1 {
  align-self: center;
}

.inner-container p {
  align-self: center;
}

.btn {
  width: 100%;
  border: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 12px;
  cursor: pointer;
}

.chat-btn {
  background-color: rgb(72, 156, 59);
  color: white;
}
